.rojo {
    color:red;
    font-weight: 700;
}


h1 {
    display:flex;
    justify-content: center;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;

}


.ableButton {
    width: 110px;
    height: 35px;
    background-color: darkslateblue;
    color:white;
    cursor:pointer;
    border:none;
    margin: 95px 20px 0 20px;
}


.disableButton {
    width: 110px;
    height: 35px;
    color:white;
    border:none;
    margin: 95px 20px 0 20px;
    background-color: grey;
}


.ableButton:hover{
    background-color: slateblue;
}


.ableButton:active{
    background-color: darkslateblue;
}


