<h1 (click)="changeNgIfValue()"> SCROLL & SELECT </h1>
<!--<img *ngFor="let usuario of myArray" style="width: 150px; margin-right: 20px"-->
<!--     [src]="usuario"-->
<!--     alt="google">-->

<div class="cont-scroll" fxLayout="row">
<button [ngClass]="{'disableButton':buttonDisableL, 'ableButton':!buttonDisableL}"  (click)="scrollToL()">←</button>

<div class="app-scroll" id="app-scroll" fxLayoutAlign="start" #appScroll>

    
<app-button-rodri *ngFor="let element of arraySrc; index as i"
[isSelected]="element.selected"
[element]="element"
[leyenda]="element.leyenda"
(click)="selectedImage2(i)"
id="i"
>


</app-button-rodri>
</div>
<button [ngClass]="{'disableButton':buttonDisableR, 'ableButton':!buttonDisableR }" onchange="disableButtonMethod()" (click)="scrollToR()">→</button>
</div>


<div class="app-cont" fxLayout="row" fxLayoutAlign="center center">
<div class="app-scroll" fxLayoutAlign="start center">

<app-selected-images *ngFor="let element of selectedImages; index as i" [isSelected]="element.selected"
[element]="element" (click)="automaticScroll(element)"></app-selected-images>
</div>
</div>
