<h1 (click)="changeNgIfValue()"> LAYOUT </h1>
<!--<img *ngFor="let usuario of myArray" style="width: 150px; margin-right: 20px"-->
<!--     [src]="usuario"-->
<!--     alt="google">-->
<div [fxLayout]="layOutService.align" id="cont-app-rodri">


<app-button-rodri *ngFor="let element of arraySrc"
 [imagen]="element.src" id="app"  [selected]="element.selected" [id]="element.id"  
 (onChangeShape)= "changeShape($event)"></app-button-rodri>
</div>


<div fxLayoutAlign="space-evenly center">
<button type="button" (click)="changeDir()">Cambio!</button>
</div>



