
/* You can add global styles to this file, and also import other style files */




.globalSize {
    width: 200px;
    height: 200px;
    margin:5px;
    cursor:pointer;
}



.noSize{
    animation-name: scaleChangeI;
    animation-duration: 0.2s;
}



.selectedSize {
    width: 200px;
    height: 200px;
    margin:5px;
    cursor:pointer;
    animation-name: scaleChange;
    animation-duration: 0.3s;
}



@keyframes scaleChange {
   from{
       transform:scale(0);
   }
   to {
       transform:scale(1);
   }
}


@keyframes scaleChangeI {
    from{
        transform:scale(1);
    } to {
        transform:scale(0);
    }
}


.selectedTrue {
    width: 90px;
    height: 20px;
    cursor:pointer;
    text-decoration:underline;
    text-decoration-color:#F70BBE;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}

.selectedFalse {
    width: 120px;
    height: 20px;
    cursor:pointer;
}

.app-scroll {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin:0px 5px;
    width:1050px;
    max-width: 3150px;
    overflow:hidden;
}

.app-cont{
    overflow: hidden;
    margin-top:15px;
}
